In [1]:
import numpy as np 
import pandas as pd 
import os

import seaborn as sns 
import matplotlib.pyplot as plt 
import csv

from matplotlib import colors
from matplotlib.ticker import PercentFormatter
import copy

In [2]:
file = pd.read_csv('C:\\Users\\siddh\\Desktop\\DES\\Bulk Density Soils for R\\1.csv')
file.head()

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,...,ExtractTime,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS,tup_long_lat
0,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,2.0,2.0,05-12-2008,138.337753,-17.44456,0.0,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)"
1,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,3.0,3.0,05-12-2008,138.337753,-17.44456,0.2,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)"
2,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,4.0,4.0,05-12-2008,138.337753,-17.44456,0.5,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)"
3,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,5.0,5.0,05-12-2008,138.337753,-17.44456,0.8,...,2021-10-01T04:39:52,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)"
4,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,2.0,2.0,27-11-2008,138.337753,-17.44456,0.0,...,2021-10-01T05:05:27,15A1_K,exchangeable bases (k+) - 1m ammonium chloride...,exch k - nh4cl no wash,SALI,11-Mar-03,SALI,15-Jun-21,cmol_c/kg,"(138.337753, -17.44456)"

In [3]:
sym1 = '<'
sym2 = '>'
#file['Value']

In [4]:
values = copy.deepcopy(file['Value'])
c = 0

In [47]:
for i in range(len(values)): 
    if sym1 in str(values[i]): 
        values[i] = values[i].replace('<', '')
        values[i] = float(values[i])
    elif sym2 in str(values[i]): 
        values[i] = values[i].replace('>', '')
        values[i] = float(values[i])

In [62]:
#file['Value']

In [63]:
#file['float_values'] = values

In [64]:
#file['Value']

In [65]:
#file['float_values']

In [52]:
file.head()

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,...,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS,tup_long_lat,float_values
0,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,2.0,2.0,05-12-2008,138.337753,-17.44456,0.0,...,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)",0.01
1,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,3.0,3.0,05-12-2008,138.337753,-17.44456,0.2,...,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)",0.01
2,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,4.0,4.0,05-12-2008,138.337753,-17.44456,0.5,...,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)",0.01
3,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,5.0,5.0,05-12-2008,138.337753,-17.44456,0.8,...,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)",0.01
4,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,2.0,2.0,27-11-2008,138.337753,-17.44456,0.0,...,15A1_K,exchangeable bases (k+) - 1m ammonium chloride...,exch k - nh4cl no wash,SALI,11-Mar-03,SALI,15-Jun-21,cmol_c/kg,"(138.337753, -17.44456)",0.08

In [58]:
location1 = 'C:\\Users\\siddh\\Desktop\\DES\\Bulk Density Soils for R\\'

In [59]:
sym1 = '<'
sym2 = '>'

In [70]:



location2 = 'C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\'

name = 1

extension = '.csv'

In [71]:
for i in range(1,370): 
    
    file = pd.read_csv(location1 + str(name) + extension)
    
    values = copy.deepcopy(file['Value'])
    
    for i in range(len(values)): 
        
        if sym1 in str(values[i]): 
            values[i] = values[i].replace('<', '')
            values[i] = float(values[i])
        elif sym2 in str(values[i]): 
            values[i] = values[i].replace('>', '')
            values[i] = float(values[i])
    
    file['float_values'] = values
    
    file.to_csv(location2 + str(name) + extension, index = False)
    
    name += 1

In [91]:
lbv = location2 + 'testFolder'
type(lbv)

lbv

'C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\testFolder'

In [92]:
!mkdir lbv

A subdirectory or file lbv already exists.

In [96]:
import os
  
# Directory
directory = "aaaaaaaaa"
  
# Parent Directory path
parent_dir = location2
  
# Path
path = os.path.join(parent_dir, directory)
  
# Create the directory
# 'GeeksForGeeks' in
# '/home / User / Documents'
os.mkdir(path)
print("Directory '% s' created" % directory)

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\aaaaaaaaa'

In [97]:
file = pd.read_csv('C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\1.csv')

In [98]:
file.head()

,DataStore,Dataset,Provider,Location_ID,Layer_ID,SampleID,SampleDate,Longitude,Latitude,UpperDepth,...,LAB_METH_CODE,LAB_METH_NAME,LAB_METH_SHORT_NAME,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,UNITS,tup_long_lat,float_values
0,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,2.0,2.0,05-12-2008,138.337753,-17.44456,0.0,...,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)",0.01
1,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,3.0,3.0,05-12-2008,138.337753,-17.44456,0.2,...,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)",0.01
2,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,4.0,4.0,05-12-2008,138.337753,-17.44456,0.5,...,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)",0.01
3,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,5.0,5.0,05-12-2008,138.337753,-17.44456,0.8,...,10A1,total sulfur - x-ray fluorescence,total s xrf,SALI,11-Mar-03,SALI,11-Mar-03,%,"(138.337753, -17.44456)",0.01
4,SALI,QLDGovernment,QLDGovernment,QLD_NWREC_33_1,2.0,2.0,27-11-2008,138.337753,-17.44456,0.0,...,15A1_K,exchangeable bases (k+) - 1m ammonium chloride...,exch k - nh4cl no wash,SALI,11-Mar-03,SALI,15-Jun-21,cmol_c/kg,"(138.337753, -17.44456)",0.08

In [176]:
names = file['LAB_METH_CODE']
types = names.unique()

In [177]:
types

array(['10A1', '15C1_CEC', '15C1_K', '15N1', '17A1', '2A1', '2Z2_Clay',
       '2Z2_CS', '2Z2_FS', '2Z2_Silt', '3A1', '503.01a', '5A2', '6B5',
       '7B1', '9A1', nan], dtype=object)

In [128]:
'ec - 1:5 water' in names

False

In [119]:
file[file['LAB_METH_SHORT_NAME'] == 'cl - 1']

Empty DataFrame
Columns: [DataStore, Dataset, Provider, Location_ID, Layer_ID, SampleID, SampleDate, Longitude, Latitude, UpperDepth, LowerDepth, PropertyType, ObservedProperty, Value, Units, QualCollection, QualSpatialAggregation, QualManagement, QualSpatialAccuracy, ExtractTime, LAB_METH_CODE, LAB_METH_NAME, LAB_METH_SHORT_NAME, CREATED_BY, CREATION_DATE, LAST_UPDATED_BY, LAST_UPDATE_DATE, UNITS, tup_long_lat, float_values]
Index: []

[0 rows x 30 columns]

In [170]:
currloc = 'C:\\Users\\siddh\\Desktop\\DES\\Spline Files\\'
newloc = 'C:\\Users\\siddh\\Desktop\\DES\\Multiple Split Files\\'
start = 1 
ext = '.csv'

In [187]:
for i in range(1,370): 
    
    file = pd.read_csv(currloc + str(i) + ext)
    
    path = os.path.join(newloc, 'Soil '+str(i))
    os.mkdir(path)
    
    names = file['LAB_METH_CODE']
    types = names.unique()
    
    for j in types: 
        filt = file.loc[file['LAB_METH_CODE'] == j]
        filt['SoilProfile'] = i
        filt.to_csv(newloc+'Soil '+str(i)+'\\'+str(j)+ext, index = False)
        
    #file.to_csv(newloc+'Soil '+str(i)+'\\'+str(i)+ext, index = False)

<ipython-input-187-694d3f97fa14>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filt['SoilProfile'] = i

In [169]:
for j in types: 
        filt = file.loc[file['LAB_METH_CODE'] == j]
        
        filt.to_csv(newloc+'Soil '+str(1)+'\\'+j+ext)

In [168]:
newloc

'C:\\Users\\siddh\\Desktop\\DES\\Multiple Split Files\\'

In [160]:
s1 = '/'
s2 = '<'
s3 = '>'
s4 = ':'
s5 = '*'
s6 = '?'
s7 = '|'
s8 = '"'
s9 = "\\"

In [175]:
file = pd.read_csv(currloc + str(4) + ext)
len(file)

82

In [184]:
file[79:82]['LAB_METH_CODE']

79    9A1
80    9A1
81    NaN
Name: LAB_METH_CODE, dtype: object