In [1]:
import numpy as np 
import pandas as pd 
import sklearn
import csv 
import seaborn as sns 
import matplotlib.pyplot as plt 
from numpy.random import seed
from numpy.random import randn


file = pd.read_csv('C:\\Users\\siddh\\Desktop\\DES\\sali_lab_result_12082021.csv')

file.head()

C:\Users\siddh\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (11,12,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,PROJECT_CODE,SITE_ID,OBS_NO,HORIZON_NO,SAMPLE_NO,LAB_CODE,LAB_METH_CODE,ANALYSIS_DATE,VALID_FLAG,FORMATTED_VALUE,...,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,NUMERIC_VALUE,QC_CODE_UPDATED_BY,QC_CODE_UPDATE_DATE,QC_CODE,QC_CODE_OVERRIDE_FLAG,DATA_SOURCE
0,MWQ,425,1,5.0,3,IND,22B,06/JUN/03,Y,<0.2,...,SALIP,02/FEB/06,SALI,08/NOV/17,0.010,SALI,20/DEC/11,N,N,NaN
1,MWQ,426,1,2.0,1,IND,22B,06/JUN/03,Y,<0.2,...,SALIP,02/FEB/06,SALI,08/NOV/17,0.010,SALI,20/DEC/11,N,N,NaN
2,MWQ,43,1,5.0,5,IND,22B,01/FEB/02,Y,0.02,...,SALIP,02/FEB/06,SALI,24/AUG/12,0.020,SALI,20/DEC/11,N,N,NaN
3,MWQ,430,1,4.0,3,IND,22B,10/JUN/03,Y,<0.2,...,SALIP,02/FEB/06,SALI,08/NOV/17,0.010,SALI,20/DEC/11,N,N,NaN
4,MWQ,432,1,6.0,5,IND,22B,12/JUN/03,Y,0.309,...,SALIP,02/FEB/06,SALI,24/AUG/12,0.309,SALI,20/DEC/11,N,N,NaN

In [2]:
file_updated = file.drop (['DATA_SOURCE', 'QC_CODE', 'QC_CODE_OVERRIDE_FLAG', 'QC_CODE_UPDATED_BY', 'LAST_UPDATED_BY',
                          'CREATED_BY','ANALYSIS_DATE','VALID_FLAG'], axis = 1)

new_file = file_updated.drop(['COMPONENT','LAB_SAMPLE_ID','LAB_SAMPLE_REC_DATE','LAB_SAMPLE_STATUS','EXPORT_DATE','CREATION_DATE','LAST_UPDATE_DATE'],axis = 1)


key_file = new_file

In [3]:
method_counts = pd.value_counts(new_file['LAB_METH_CODE'])
method_counts[1:30]

# 2z2 - Particle size 
# FS - Fine sand 
# CS - Course Sand 

#15C - Cation Method 
# CEC - Cation Exchange

### Try to focus more on EDA to find any data patterns 
### Try to replicate analysis from any previous research

3A1         95044
5A2         88382
7B1         51413
2A1         45087
10A1        44640
9A1         44503
17A1        43956
2Z2_Clay    32300
2Z2_Silt    32183
2Z2_FS      31990
2Z2_CS      31933
2Z2_sum     30347
15C1_Mg     23050
15C1_Ca     23049
15C1_K      22996
15C1_Na     22898
15C1_CEC    22512
2E1         22405
20Be        21769
9B2         21666
2Z1_R1      18267
6A1         17881
22B         17089
15A1_Mg     17055
15A1_K      17033
15A1_Ca     16986
15A1_Na     16959
9G2         15848
7A2         15666
Name: LAB_METH_CODE, dtype: int64

In [59]:
#first_five = new_file.head()
#first_five

In [5]:
#str(first_five['OBS_NO'][0])+","+str(int(first_five['HORIZON_NO'][0]))+","+str(first_five['SAMPLE_NO'][0])+","+str(first_five['LAB_CODE'][0])



key_file['KEY'] = ''

key_file.head()


key_file = key_file.dropna()

In [28]:
for i in range (0,len(key_file)):
    key_file['KEY'][i] = str(key_file['PROJECT_CODE'][i]) + "," + str(key_file['SITE_ID'][i])+","+str(key_file['OBS_NO'][i])

KeyError: 0

In [26]:
key_file

,PROJECT_CODE,SITE_ID,OBS_NO,HORIZON_NO,SAMPLE_NO,LAB_CODE,LAB_METH_CODE,FORMATTED_VALUE,RESULT_STATUS,ANALYSIS,ANALYSIS_VERSION,RAW_VALUE,LIMIT_OF_QUANT,NUMERIC_VALUE,QC_CODE_UPDATE_DATE,KEY
105,SALTS,75,2,21.0,28,IND,3A1,0.39,A,S_AQ4_EL,1.0,0.39,0.01,0.39,20/DEC/11,a
107,SALTS,75,2,21.0,28,IND,5A2,448,A,S_AQ4_AA,1.0,448.00,20.00,448.00,20/DEC/11,a
109,SALTS,75,2,3.0,2,IND,3A1,0.14,A,S_AQ4_EL,1.0,0.14,0.01,0.14,20/DEC/11,a
113,SALTS,75,2,4.0,3,IND,3A1,0.38,A,S_AQ4_EL,1.0,0.38,0.01,0.38,20/DEC/11,a
114,SALTS,75,2,4.0,3,IND,5A2,38,A,S_AQ4_AA,1.0,38.00,20.00,38.00,20/DEC/11,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535780,SWRES,706,1,5.0,20,IND,15A1_Na,9.12,A,S_CAT_EQ,3.0,9.12,0.08,9.12,12/JAN/18,a
1535781,SWRES,706,1,5.0,20,IND,15A3_Na,4.73,A,S_CAT_EQ,3.0,4.73,0.08,4.73,12/JAN/18,a
1535782,SWRES,706,1,5.0,20,IND,15G1_Al,0.48,A,S_EX_ALAC,5.0,0.48,0.03,0.48,12/JAN/18,a
1535783,SWRES,706,1,5.0,20,IND,15G1_H,1.08,A,S_EX_ALAC,5.0,1.08,0.03,1.08,12/JAN/18,a
1535784,SWRES,706,1,5.0,20,IND,15J1,20,A,S_EX_ALAC,5.0,20.00,0.03,20.00,12/JAN/18,a